<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">

      <h1 class="mb-4">Add New Restaurant</h1>
      <%= simple_form_for(@restaurant) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :address %>
        <%= f.text_field :address %>
        <%= f.label :phone_number %>
        <%= f.number_field :phone_number %>
        <%= f.input :category,
                    collection: Restaurant::CATEGORIES,
                    prompt: "Select a category" %>
        <%= f.button :submit, "Create Restaurant", class: "btn btn-primary" %>
      <% end %>
      <br>
      <%= link_to "Back to list", restaurants_path, class: "btn btn-primary" %>

    </div>
  </div>
</div>
